.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 20px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}
  
.photo-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.circle-animation {
    position: relative;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.dotted-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px dashed #fff; /* Dotted circle */
    animation: rotate 35s infinite linear;
    z-index: 1;
}
.profile-photo-container {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}
  
.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
.intro-text {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
  
.intro-text-two h1 {
    font-size: 4.0rem;
    margin-bottom: 10px;
    background: linear-gradient(to left, #DF8908, #B415FF);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.intro-text-two h2 {
    font-size: 2.0rem;
    margin-bottom: 20px;
}
  
.intro-text-two p {
    font-size: 1.4rem;
    line-height: 1.5;
}

.hero-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(to left, #DF8908 , #B415FF );
    cursor: pointer;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF; 
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;  
}
.hero-resume:hover{
    border-color: #B415FF;
}
.anchor-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  position: relative;
}
.popup-content p{
  color: #000;
  font-weight: bold;
}
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.popup-navigate {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(to left, #DF8908, #B415FF);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
}

.popup-navigate:hover {
  background: linear-gradient(to left, #B415FF, #DF8908);
}


  
  /* Responsive Design */
  @media (max-width: 1360px) {
    .popup-content {
      width: 80%;
    }
    .intro-container {
      flex-direction: column;
      text-align: center;
    }
  
    .photo-container, .intro-text {
      flex: none;
      width: 100%;
    }
  
    .circle-animation {
      width: 200px;
      height: 200px;
    }
  
    .intro-text {
      padding-left: 0;
      margin-top: 20px;
    }
  
    .intro-text h1 {
      font-size: 2rem;
    }
  
    .intro-text h2 {
      font-size: 1.25rem;
    }
  
    .intro-text p {
      font-size: 0.9rem;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
        text-align: center;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 30px;
        border-radius: 40px;
    }
  }

 /* Responsive Design */
 @media (max-width: 430px) {
    .popup-content {
      width: 90%;
    }
    .intro-container {
      flex-direction: column;
      text-align: center;
    }
  
    .photo-container, .intro-text {
      flex: none;
      width: 100%;
    }
  
    .circle-animation {
      width: 200px;
      height: 200px;
    }
  
    .intro-text {
      padding-left: 0;
      margin-top: 20px;
    }
  
    .intro-text h1 {
      font-size: 2rem;
    }
  
    .intro-text h2 {
      font-size: 1.25rem;
    }
  
    .intro-text p {
      font-size: 0.9rem;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
        font-size:12px;
        text-align: center;
    }
    .hero-connect{
        padding: 20px 15px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 18px;
        border-radius: 40px;
    }
}
   